debug: true
spring:
  data:
    mongodb:
      uri: mongodb+srv://${DB_USER}:${DB_PWD}@cluster0.f3owvmq.mongodb.net/${DB_NAME}
      database: ${DB_NAME}
  logging:
    level:
      org:
        springframework:
          boot:
            autoconfigure: ERROR